---
---

$baseurl: "{{ site.baseurl }}";

@import "{{ site.theme }}";

a.heading {
    color: #FFFFFF;
    text-decoration: none;
}

.page-header {
    background-image: linear-gradient(120deg,#88efd2,#1e9dad);
    // background-image: url('#{$baseurl}/assets/header.png');
    background-size: cover;
}