---
---

$baseurl: "{{ site.baseurl }}";

@import "{{ site.theme }}";

a.heading {
    color: #FFFFFF;
    text-decoration: none;
}

.page-header {
    background-image: url('#{$baseurl}/assets/header.png');;
}